
[user]
    name = Konrad Pawlikowski
    email = preclowski@gmail.com
[credential]
    helper = osxkeychain
[push]
    default = simple
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = green
    remote = yellow
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green bold
    changed = yellow
    untracked = red reverse
[apply]
    whitespace = nowarn
[core]
    pager = less -r
    editor = nano[merge]
    tool = phpstorm
[diff]
    tool = phpstorm
[difftool]
; This setting is optional, but prevents an annoying prompt between diffing files.
    prompt = false
[difftool "phpstorm"]
    cmd = pstorm diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
    trustExitCode = true
[mergetool "phpstorm"]
    cmd = pstorm merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[help]
    autocorrect = 1 #fucking magic!
[branch]
    autosetuprebase = always
[alias]
    cm = commit -am
    co = checkout
    s = status -sb
    a = add .
    p = push
 
    # Show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a
    remotes = remote -v
 
    # Custom log formats
    lg = log --all --graph --decorate --oneline --abbrev-commit
    lgg = log --all --graph --decorate --oneline
    lg2 = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
 